@mixin flex {
    display: flex;
}

@mixin ze {
    margin: 0;
    padding: 0;
}

@mixin container {
    max-width: 960px;
    margin: auto;
}

@mixin titreH2 {
    h2 {
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: 40px;
        margin-top: 60px;

        span {
            font-weight: bold;
        }
    }
}